div(class="tic-tac-to")
  span(ng-repeat="tictac in tictacs")
    input(type="checkbox", ng-model="tictac.status")
  form(ng-submit="processTurn()")
    input(class="btn-primary", type="submit", value="Submit", ng-disabled="isUnchanged(tictacs)")

