/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.tic-tac-to{
  width: 303px;
  margin: 0 auto;
}

input[type='checkbox'] {
  -webkit-appearance:none;
  width:95px;
  height:95px;
  background:white;
  border-radius:5px;
  border:2px solid #555;
  float: left;
}
input[type='checkbox']:checked {
  background: #abd;
}
